<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 线程池方式异步执行工具 -->
    <bean id="asyncTaskManager" class="com.tuniu.vla.base.taskpool.AsyncTaskManager">
        <property name="asyncTaskDynamicConfiguration" ref="asyncTaskDynamicConfiguration"/>
    </bean>
    <bean id="asyncTaskDynamicConfiguration" class="com.tuniu.vla.base.taskpool.AsyncTaskDynamicConfiguration" />


    <!-- 单线程异步执行工具 -->
    <bean id="asyncQueuedExecutor" class="com.tuniu.vla.base.asyncexecutor.AsyncQueuedExecutor">
        <property name="asyncQueuedStatusListener" ref="asyncQueuedStatusLogger"/>
    </bean>
    <bean id="dbTracerLogHandler" class="com.tuniu.abt.base.tracer.DbTracerLogHandler">
        <property name="threadName" value="Tracer跟踪日志记录" />
        <property name="batch" value="true"/>
        <property name="supportClass" value="com.tuniu.abt.base.tracer.pojo.FlatTraceInfo" />
        <property name="alertInterval" value="300000" /><!-- 警告间隔时间，默认值5分钟 -->
        <property name="batchSize" value="100" /><!-- 批量执行数量，默认值100 -->
        <property name="queueSize" value="10000" /><!-- 缓冲队列大小，默认值10000 -->
        <property name="alertQueueThreshold" value="5000" /><!-- 警告阈值，默认缓冲队列大小的1半 -->
        <property name="exceptionWhenQueueFull" value="false" /><!-- 队列满后是否抛错，默认false -->
        <property name="batchWaitSec" value="1" /><!-- 达到batchSize前最多等待时间也执行批量操作，默认1秒 -->
        <property name="emailAlert" value="false" /><!-- 是否邮件告警， 默认false -->
        <property name="emailTo" value="" /><!-- 邮件告警收件人列表 -->
    </bean>

</beans>