<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <aop:config>
        <aop:aspect ref="beanFactoryCacheOperationSourceAdvisor"/>
    </aop:config>
    <bean id="annotationCacheOperationSource" class="org.springframework.cache.annotation.AnnotationCacheOperationSource" />
    <bean id="keyGenerator" class="org.springframework.cache.interceptor.SimpleKeyGenerator" />
    <bean id="cacheInterceptor" class="org.springframework.cache.interceptor.UnblockingOnExceptionCacheInterceptor"
          p:cacheOperationSources-ref="annotationCacheOperationSource"
          p:cacheManager-ref="cacheManager" p:keyGenerator-ref="keyGenerator" />
    <bean id="beanFactoryCacheOperationSourceAdvisor"
          class="org.springframework.cache.interceptor.BeanFactoryCacheOperationSourceAdvisor"
          p:adviceBeanName="cacheInterceptor" p:cacheOperationSource-ref="annotationCacheOperationSource" />

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="cacheManagerName" value="localEhCacheManager"/>
        <property name="configLocation" value="classpath:ehcache_for_local_cache.xml"/>
    </bean>
    <bean class="com.tuniu.vla.base.mbeans.EhCacheJmxRegister">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>

</beans>


